body {
    background-color: #efebeb;
}

.navbar {
    background-color: #192342;
}
.nav-link {
    color: #efebeb;
    font-family: 'Footlight MT Light';
}
.nav-link:hover {
     color: cornflowerblue;
     text-decoration:underline;
}
.active {
    color: cornflowerblue;
}
.package {
    border-radius:25px;
    border: 2px solid #192342;
    padding: 10px;
    background-color:white;
    margin-left:10px;
}
div.scroll-container {
    background-color: #192342;
    width:100%;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}
 div.scroll-container img {
        padding: 10px;
    }

.btn {
    background-color: #192342;
    color: #efebeb;
    float: right;
}
.row {
    margin-top: 25px;
    font-family: 'Times New Roman';
    font-style: italic;
    margin-bottom:15px;
}
.list {
    color: #192342;
    font-weight:bold;
}

.title {
    font-family: 'Footlight MT Light';
    color: #192342;
    font-weight: bold;
    text-align: center;
}
.bi {
    color: white;
    margin-left: 7px;
}
